footer {
    // 讓div, nav, section水平排列
    display: flex;
    flex-direction: column;
    align-items: center;
    // 設定高度做分散對齊
    min-height: 40vh;
    justify-content: space-around;
    background-color: rgb(207, 207, 207);

    div.logo {
        // 將圖片與h1水平排列
        display: flex;
        // 讓h1的文字垂直置中
        align-items: center;

        img {
            width: 6vw;
            height: 6vw;
        }
    }

    nav {
        width: 30%;

        ul {
            // 讓li水平排列、去標點、給寬度及分散對齊
            display: flex;
            list-style-type: none;
            width: 100%;
            justify-content: space-around;
            // 設定換行
            flex-wrap: wrap;

            li {
                flex-basis: 100px;

                a {
                    // 設定連結格式
                    text-decoration: none;
                    color: black;
                    font-size: 1.35rem;
                }
            }
        }
    }

    section.links {
        a {
            // 把圖示推開
            margin: 0rem 1rem;

            img {
                width: 5vw;
                height: 5vw;
            }
        }
    }
}