* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans TC', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
}

@import "./index-header";

@import "./index-main";

@import "./index-footer";

@import "./scrollbar";

@media screen and (max-width:550px) {
    header {
        div.logo {
            margin-left: 0.5rem;

            img {
                width: 15vw;
                height: 15vw;
            }
        }
    }
}

@media screen and (max-width:700px) {
    main {
        section.second {
            section.cards {
                div.card {
                    img {
                        width: 40vw;
                        height: 40vw;
                    }
                }
            }
        }
    }
}

@media screen and (max-width:550px) {
    footer {
        div.logo {
            img {
                width: 15vw;
                height: 15vw;
            }
        }

        section.links {
            margin-top: 1rem;

            a {
                img {
                    width: 10vw;
                    height: 10vw;
                }
            }
        }
    }
}
